export TODREE_DB_PATH=$(pwd)/be/todree.sqlite
export TODREE_BUCKET=todree-dev

export CLOUDSDK_ACTIVE_CONFIG_NAME=inctore-todree
export GOOGLE_USER=hotoku@inctore.com
export PROJECT_ID=todree-dev

if ! gcloud config configurations list | awk '{print $1}' | grep -E ^${CLOUDSDK_ACTIVE_CONFIG_NAME}$; then
    echo creating ${CLOUDSDK_ACTIVE_CONFIG_NAME}
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
else
    echo configuration ${CLOUDSDK_ACTIVE_CONFIG_NAME} exists
fi
gcloud config set project ${PROJECT_ID}
gcloud config set account ${GOOGLE_USER}
